/* body {
  background: rgb(241, 241, 252);
} */

/* ---NO IMAGE-------------------------- */

/* .noImageContainer {
  background: lightgrey;
  width: 50%;
  font-size: 3rem;
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% auto;
}

.noImageText {
  color: #1e1e1e;
  font-weight: bold;
} */

/* ---- hashtag ----------------------------- */

/* .tagsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #fff;
  width: 22%;
  margin: 2% auto;
}

.hashtag {
  background: #414141;
  border-radius: 50px;
  display: inline-block;
  padding: 4% 8%;
  font-size: 1rem;
  margin: 0 1%;
} */

/* --- ERROR --------------------- */

/* .errorContainer {
  background: #ff5f5f;
  color: #323232;
  text-align: center;
  width: 50%;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  padding: 3% 0;
}

.errorIcon {
  font-size: 7rem;
  color: #ffc268;
}

h2.errorHeader {
  font-size: 1.8rem;
  margin-top: 1%;
}

.errorStatus {
  font-size: 3rem;
  margin-top: 2.5%;
}

.errorMessage {
  font-size: 1.5rem;
  margin-top: 2%;
}

.errorBtn {
  border: 1px solid transparent;
  background: #323232;
  color: #f7e9e9;
  width: 19%;
  margin: 2% auto 0 auto;
  padding: 1% 0;
  cursor: pointer;
  transition: 300ms;
}

.errorBtn:hover {
  background: #000;
  color: #fff;
  transition: 300ms;
}

/* --- POST COMMENT COMPONENT ------------------- */

/* .postCommentContainer {
  box-sizing: border-box;
  margin: 1% auto;
  width: 100%;
  padding: 0;
}

.postCommentForm {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.postCommentInput {
  border: 1px solid #d9d9d9;
  background: #d9d9d9;
  border-radius: 3px;
  height: 10vh;
}

.postCommentInput::placeholder {
  color: rgb(226, 50, 50);
  font-weight: bold;
}

.postCommentBtn {
  border: 1px solid #262626;
  color: #fff;
  border-radius: 3px;
  background: #262726;
  font-size: 1.6rem;
  padding: 1.5% 4%;
  margin: 0 auto;
  margin-top: 3%;
  width: 30%;
  cursor: pointer;
}

.postCommentBtn:disabled,
.postCommentBtn[disabled],
.postCommentBtn:disabled,
.postCommentBtn[disabled] {
  border: 1px solid #d9d9d9;
  background: #d9d9d9;
} */

/* ---- COMMENTS COMPONENT ----- */

/* .commentsContainer {
  background: white;
}

.commentsHeader {
  font-size: 1.7rem;
  padding: 0.8%;
} */

/* ---- COMMENT COMPONENT ----------- */
/* .commentBox {
  box-sizing: border-box;
  border: 1px solid rgb(180, 179, 179);
  border-radius: 5px;
  background: #fff;
  width: 98%;
  margin: 2% auto;
  padding: 2%;
}

h3.commentAuthor {
  color: #404040;
  font-size: 1.2rem;
  display: inline-block;
}

p.commentTimestamp {
  display: inline-block;
  font-size: 1.2rem;
  color: #868686;
  margin-top: 0.7%;
  margin-left: 2%;
}

p.commentTimestamp::before {
  content: '|';
  margin-right: 0.7rem;
}

p.commentBody {
  font-size: 1.6rem;
  margin-top: 1.5%;
}

div.commentSocial {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5% auto;
  width: 70%;
}

p.commentRating {
  font-size: 1.6rem;
}

p.commentRating .far {
  font-size: 1.8rem;
}

.deleteCommentContainer {
  color: rgb(255, 97, 97);
  text-align: right;
}

.deleteCommentLink {
  display: inline;
  color: rgb(255, 97, 97);
  font-size: 1.5rem;
  cursor: pointer;
} */

/* ----LOGIN COMPONENT ---------- */

/* .loginContainer,
.registerContainer {
  border: 1px solid rgb(200, 200, 200);
  background: #fff;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
}

.loginHeader,
.registerHeader {
  font-size: 3rem;
  margin: 3% 0;
}

.loginForm,
.registerForm {
  display: flex;
  flex-direction: column;
  margin: 4% auto;
}

.loginForm input,
.registerForm input {
  width: 50%;
  margin: 1% auto;
  font-size: 2rem;
  padding: 1%;
}

.loginForm button,
.registerForm button {
  width: 25%;
  margin: 1% auto;
  font-size: 1.8rem;
  background: #fff;
  border: 2px solid #000;
  padding: 1.2% 1%;
  transition: 300ms;
}

.loginForm button:hover,
.registerForm button:hover {
  background: #000;
  color: #fff;
  transition: 300ms;
  cursor: pointer;
}

.redirectContainer {
  margin-bottom: 2%;
}

.accountRedirect {
  font-size: 1.5rem;
  color: inherit;
  padding-bottom: 2%;
  text-decoration: none;
} */

/* ----- LOGIN PROMPT COMPONENT */

/* .loginPromptContainer {
  background: rgb(199, 199, 199);
  border-radius: 2px;
  text-align: center;
  padding: 1%;
}

.loginPromptHeader {
  font-size: 2rem;
}

.loginPromptLinkContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 0.75% auto;
  width: 20%;
}

.loginPromptLink {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 2% 5%;
  margin-left: 6%;
  margin-top: 2%;
  transition: 300ms;
}

.loginPromptLink:hover {
  background: #000;
  color: #fff;
  transition: 300ms;
} */

/* Account Component */

/* .accountContainer {
  background: orange;
  text-align: center;
}

.accountHeader {
  font-size: 3rem;
} */
