body {
  background: rgb(241, 241, 252);
}

* {
  background: red;
}

.postContainer {
  border: 1px solid #000;
  background: #fff;
  margin: 1% 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ----CreatePost------ */

.createForm {
  border: 1px solid #000 !important;
}
