body {
  background: rgb(241, 241, 252);
}

/* ----------NavigationBar---------------------- */

.navbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #607d8b;
  height: 5vh;
}

.navbarList {
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 3rem;
}

.navbarItem {
  color: #272727;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
}

.fasBorder {
  font-size: 1.4rem;
  border: 1px solid black;
  padding: 13% 22%;
  border-radius: 50px;
  transition: 300ms;
}

.fasBorder:hover {
  background: #000;
  color: #fff;
  transition: 300ms;
}

/* ---------POST--------------------------------- */

.postContainer {
  border: 1px solid #c3c3c3;
  background: #fff;
  margin: 1% 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 1% auto;
  padding: 2%;
}

.postLink {
  text-decoration: none;
  color: #000;
}

.postTitle {
  font-size: 2rem;
  text-decoration: none;
}

h4.postAuthor {
  font-size: 1.1rem;
  margin-top: 1.5%;
}

h5.postTimestamp {
  font-size: 0.8rem;
  margin-top: 1%;
  color: #404040;
}

.editedFlair {
  color: #6c6c6c;
  font-size: 0.8rem;
  display: inline-block;
}

.postImage {
  width: 70%;
}

.socialContainer {
  background: #e1e1e1;
  width: 30%;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  margin-top: 1%;
}

.socialContainer .fas {
  font-size: inherit;
  margin-right: 3px;
}

/* ------ POST DETAILS --------------------------------- */

.postDetailsContainer {
  background: white;
  width: 55%;
  margin: 0 auto;
  text-align: center;
  padding: 2% 1%;
}

h2.postDetailsTitle {
  font-size: 3rem;
  color: #272727;
}

h3.postDetailsAuthor {
  font-size: 1.4rem;
  margin-top: 1.3%;
}

h4.postDetailsTimestamp {
  font-size: 1rem;
  color: #484848;
  margin-top: 0.5%;
}

img.postDetailsImage {
  width: 90%;
}

p.postDetailsBody {
  font-size: 1.7rem;
  line-height: 1.4;
  text-align: left;
  margin: 2.5% 0;
}

.commentSection {
  border-top: 1px solid black;
  width: 57%;
  margin: 1% auto;
}

/* ---NO IMAGE-------------------------- */

.noImageContainer {
  background: lightgrey;
  width: 50%;
  font-size: 3rem;
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% auto;
}

.noImageText {
  color: #1e1e1e;
  font-weight: bold;
}

/* ------ EDIT POST / CREATE POST ------------------------------ */

.editHeader,
.createHeader {
  font-size: 3rem;
  margin: 2% 0;
}

.editFormContainer,
.createFormContainer {
  background: #f1f1fc;
  height: 50vh;
  text-align: center;
}

.editFormElement,
.createFormElement {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.editInputText,
.createInputText {
  margin: 1% 0;
  border-radius: 2px;
  border: none;
  padding: 1.5%;
}

.editTextarea,
.createTextarea {
  border: none;
  border-radius: 2px;
  height: 27vh;
  margin: 1% 0;
}

.editFile,
.createFile {
  border: 2px solid #cfcfcf;
  border-radius: 3px;
  padding: 1%;
  margin-top: 1%;
}

.editPostBtn,
.createPostBtn {
  border: 2px solid #000;
  border-radius: 2px;
  width: 21%;
  margin: 1% auto;
  padding: 1%;
  background: white;
  transition: 500ms;
  cursor: pointer;
}

.editPostBtn:hover,
.createPostBtn:hover {
  background: #000;
  color: #fff;
  transition: 300ms;
}

.editPostBtn:disabled,
.editPostBtn[disabled],
.createPostBtn:disabled,
.createPostBtn[disabled] {
  border-color: rgb(112, 112, 112);
  color: rgb(86 86 86);
  background: rgb(132 132 132);
}

/* ---- hashtag ----------------------------- */

.tagsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #fff;
  width: 22%;
  margin: 1.5% 0;
}

.hashtag {
  background: #414141;
  border-radius: 50px;
  display: inline-block;
  padding: 4% 8%;
  font-size: 1rem;
  margin: 0 1%;
}

/* --- ERROR --------------------- */

.errorContainer {
  background: #ff5f5f;
  color: #323232;
  text-align: center;
  width: 50%;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  padding: 3% 0;
}

.errorIcon {
  font-size: 7rem;
  color: #ffc268;
}

h2.errorHeader {
  font-size: 1.8rem;
  margin-top: 1%;
}

.errorStatus {
  font-size: 3rem;
  margin-top: 2.5%;
}

.errorMessage {
  font-size: 1.5rem;
  margin-top: 2%;
}

.errorBtn {
  border: 1px solid transparent;
  background: #323232;
  color: #f7e9e9;
  width: 19%;
  margin: 2% auto 0 auto;
  padding: 1% 0;
  cursor: pointer;
  transition: 300ms;
}

.errorBtn:hover {
  background: #000;
  color: #fff;
  transition: 300ms;
}

/* -------- VALIDATION ERRORS------------- */
.validatinErrorsContainer {
  font-size: 2rem;
  width: 15%;
  margin: 1% auto;
}

.validationErrorMessage {
  background: red;
  border-radius: 2px;
  margin: 3% 0;
  color: black;
}

/* --- POST COMMENT COMPONENT ------------------- */

.postCommentContainer {
  box-sizing: border-box;
  margin: 1% auto;
  width: 100%;
  padding: 0;
}

.postCommentForm {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.postCommentInput {
  border: 1px solid #d9d9d9;
  background: #d9d9d9;
  border-radius: 3px;
  height: 10vh;
}

.postCommentInput::placeholder {
  color: rgb(226, 50, 50);
  font-weight: bold;
}

.postCommentBtn {
  border: 1px solid #262626;
  color: #fff;
  border-radius: 3px;
  background: #262726;
  font-size: 1.6rem;
  padding: 1.5% 4%;
  margin: 0 auto;
  margin-top: 3%;
  width: 30%;
  cursor: pointer;
}

.postCommentBtn:disabled,
.postCommentBtn[disabled],
.postCommentBtn:disabled,
.postCommentBtn[disabled] {
  border: 1px solid #d9d9d9;
  background: #d9d9d9;
}

/* ---- COMMENTS COMPONENT ----- */

.commentsContainer {
  background: white;
}

.commentsHeader {
  font-size: 1.7rem;
  padding: 0.8%;
}

/* ---- COMMENT COMPONENT ----------- */
.commentBox {
  box-sizing: border-box;
  background: rgb(248, 247, 247);
  width: 98%;
  margin: 2% auto;
  padding: 1%;
}

h3.commentAuthor {
  color: #404040;
  font-size: 1.2rem;
  display: inline-block;
}

p.commentTimestamp {
  display: inline-block;
  font-size: 1.2rem;
  color: #868686;
  margin-top: 0.7%;
  margin-left: 2%;
}

p.commentTimestamp::before {
  content: '|';
  margin-right: 0.7rem;
}

p.commentBody {
  font-size: 1.6rem;
  margin-top: 1.5%;
}

div.commentSocial {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5% auto;
  width: 70%;
}

p.commentRating {
  font-size: 1.6rem;
}

p.commentRating .far {
  font-size: 1.8rem;
}
